<div class="container">
  <h2>User Settings</h2>

  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="form-group">
      <label for="name">Name</label>
      <input
        id="name"
        name="name"
        class="form-control"
        placeholder="Name"
        type="text"
        [(ngModel)]="userSettings.name"
        required
        #nameField="ngModel"
        [class.field-error]="form.submitted && nameField.invalid"
        (blur)="onBlur(nameField)"
      />
      <div
        [hidden]="!form.submitted || nameField.valid"
        class="alert alert-danger"
      >
        Enter a name
      </div>
    </div>

    <div class="form-group">
      <label for="startDate">
        Start Date
      </label>
      <!-- <input
        type="text"
        class="form-control"
        placeholder="Start Date"
        [(ngModel)]="startDate"
        name="startDate"
        bsDatepicker
      /> -->
      <input
        type="text"
        class="form-control"
        placeholder="Start Date"
        [(ngModel)]="startDate"
        name="startDate"
        bsDaterangepicker
      />
    </div>
    <div>Start Date: {{ startDate }}</div>

    <div class="form-group">
      <label for="startTime">Start Time</label>
      <timepicker [(ngModel)]="startTime" name="startTime"></timepicker>
    </div>
    <div>Start Time: {{ startTime }}</div>

    <div class="form-group">
      <label for="userRating">Rating</label>
      <rating
        [(ngModel)]="userRating"
        [max]="maxRating"
        [readonly]="isReadonly"
        name="userRating"
        id="userRating"
        [titles]="['one', 'two', 'three']"
      ></rating>
    </div>
    <div>User Rating: {{ userRating }}</div>

    <button
      type="button"
      class="btn btn-primary"
      name="singleModel"
      [(ngModel)]="singleModel"
      btnCheckbox
      btnCheckboxTrue="On"
      btnCheckboxFalse="Off"
    >
      {{ singleModel }}
    </button>

    <div class="form-check form-group">
      <input
        type="checkbox"
        class="form-check-input"
        id="emailOffers"
        name="emailOffers"
        [(ngModel)]="userSettings.emailOffers"
      />
      <label for="emailOffers" class="form-check-label"
        >Email Special Offers</label
      >
    </div>

    <p>User Interface Style</p>
    <div class="form-group">
      <div class="btn-group">
        <label
          class="btn btn-primary"
          [(ngModel)]="userSettings.interfaceStyle"
          name="interfaceStyle"
          btnRadio="Light"
          tabindex="0"
          role="button"
        >
          Light
        </label>
        <label
          class="btn btn-primary"
          [(ngModel)]="userSettings.interfaceStyle"
          name="interfaceStyle"
          btnRadio="Medium"
          tabindex="0"
          role="button"
        >
          Medium
        </label>
        <label
          class="btn btn-primary"
          [(ngModel)]="userSettings.interfaceStyle"
          name="interfaceStyle"
          btnRadio="Dark"
          tabindex="0"
          role="button"
        >
          Dark
        </label>
      </div>
    </div>

    <div class="form-group">
      <label for="subscriptionType">Subscription Type</label>
      <select
        name="subscriptionType"
        id="subscriptionType"
        class="form-control"
        [(ngModel)]="userSettings.subscriptionType"
      >
        <option *ngFor="let type of subscriptionTypes | async">
          {{ type }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="notes">Notes</label
      ><textarea
        name="notes"
        id="notes"
        cols="30"
        rows="3"
        class="form-control"
        [(ngModel)]="userSettings.notes"
      ></textarea>
    </div>

    <!-- 
    <div class="form-group">
      <label for="password">Password</label
      ><input
        type="password"
        id="password"
        name="password"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="testing">Testing</label
      ><input type="color" id="testing" name="testing" class="form-control" />
    </div>
    <div class="form-group">
      <label for="testing">Testing</label
      ><input type="date" id="testing" name="testing" class="form-control" />
    </div> -->

    <div [hidden]="!postError" class="alert alert-danger">
      {{ postErrorMessage }}
    </div>
    <button class="btn btn-primary">Send</button>
  </form>
</div>

<h3>{{ userSettings | json }}</h3>
